* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF7F7;
}
.me {
  margin: 0 auto;
  width: 100%;
  background-color: pink;
  /* margin: 30px; */
}

.me img {
  float: right;
  width: 60%;
}

.center {
  text-align: center;
}

.center a {
  color: #605F5F;
  text-decoration: none;
}

.clear {
  clear: both;
}

#icon {
  width: 30px;
  height: auto;
  object-fit: contain;
}

.icon_links {
  width: 25px;
  margin: 0 3px;
}

.about_me {
  font-family: 'Krub', sans-serif;
  float: left;
  font-weight: 200;
  font-size: 4rem;
  /* width: 35%; */
  width: 80%;
  /* margin: 20px; */
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  color: black;
}

#heart_one {
  width: 15px;
  margin: 0 5px;
}

#heart_two {
  float: right;
  width: 40px;
}

.info_side_bar {
  margin: 20px;
  float: left;
}

#links {
  padding: 20px;
  float: right;
}

.post_header {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
}

.projects_wrapper {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  padding: 10px;
  font-size: 0.9rem;
  font-weight: normal;
}

.more_on_git {
  font-size: 0.7rem;
  font-weight: 300;
}

.footer {
  display: block;
  margin: 0 auto;
  font-size: 0.5rem;
  text-align: center;
  font-weight: 300;
  padding: 40px 0;
}


.content {
  position: relative;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 10px;
}

.content .content-overlay {
  display: block;
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: -webkit-transform all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform  all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
}

.note {
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
  font-size: .7rem;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 10px;
}
.android-note {
  margin-top: 5px;
  background-color: #83ac3f;
}

.web-note {
  margin-top: 5px;
  background-color: #ee8e8b;
}


@media only screen and (max-width: 600px) {
  .about_me {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 2rem;
  }
  .me img {
    width: 100%;
  }
  .content {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .about_me {
    width: 80%;
    font-size: 3rem;
  }
  .me img {
    width: 95%;
  }
  .content {
    width: 40%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1150px) {
  .about_me {
    padding: 0;
    /* margin: 0;
    width: 40%; */
    font-size: 3rem;
  }
  .me img {
    width: 60%;
  }
  .content {
    width: 19%;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1900px)  {
  .about_me {
    padding: 0;
    /* margin: 10px;
    width: 35%; */
    font-size: 4rem;
  }
  .me img {
    width: 55%;
  }
  .content {
    width: 19%;
  }
}
